<a class="card lift h-100 border-start-lg" href="{{data.url}}"
   style="border-left-color:{{data.app_color}} !important">
    <div class="card-body d-flex justify-content-center flex-column">
        <div class="d-flex align-items-center justify-content-between">
            <div class="me-3">
                <h5 class>{{data.name}}</h5>
                <div class="text-muted small text-small">{{data.description}}</div>
            </div>
            <img alt="{{data.name}}" src="{{data.icon}}" style="width: 3rem">
        </div>
    </div>
</a>