.sidenav-ebackground {
    background-color: #2E578B;
    color: #ffffff;
}

a:hover {
    color: white;
    background: #203f64; /*border-right: 10px solid green;*/
}

.nav-link {
    color: #dee5ee;
}

.nav-link-icon > img {
    width: 20px;
    height: 20px;
}


