<nav class="sidenav shadow-right sidenav-ebackground">
    <div class="sidenav-menu">
        <div class="nav accordion" id="accordionSidenav">
            <!-- ----------------------- MENU CUENTA --------------------- -->
            <!-- * * Nota: * * Solo visible de manera responsiva-->
            <div class="sidenav-menu-heading d-sm-none">Cuenta</div>
            <!------------------------------ Menu (Alertas)--------------------------->
            <!-- * * Note: * * Visible only on and above the sm breakpoint-->
            <a class="nav-link d-sm-none" href="#!">
                <div class="nav-link-icon">
                    <fa-icon [icon]="bell"></fa-icon>
                </div>
                Notificaciones
                <span class="badge bg-warning-soft text-warning ms-auto">4 New!</span>
            </a>

            <!------------------------------ Menu (Mensajes)----------------------->
            <!-- * * Note: * * Visible only on and above the sm breakpoint-->
            <a class="nav-link d-sm-none" href="#!">
                <div class="nav-link-icon">
                    <fa-icon [icon]="envelope"></fa-icon>
                </div>
                Mensajes
                <span class="badge bg-success-soft text-success ms-auto">2 New!</span>
            </a>


            <!------------------------- Sidenav-Menu-Principal-(Dashboard)------------>
            <div class="sidenav-menu-heading">Principal</div>
            <!-- Sidenav Accordion (Dashboard)-->
            <!-- Sidenav Link (Tables)-->
            <a class="nav-link" href="{{urlDashboard}}">
                <div class="nav-link-icon">
                    <img src="assets/icons/general/dashboard.svg">
                </div>
                Área personal
            </a>
            <!---------------------- End-Sidenav-Menu-Principal-(Dashboard)------------>

            <!----------------------- Sidenav-Menu-Procesos---------------------------->
            <div class="sidenav-menu-heading ">MedLife</div>


            <div class="sidenav-menu-heading">Módulos</div>
            <a *ngFor="let module of modules" class="nav-link" routerLink="{{module.path}}">
                <div class="nav-link-icon">
                    <img src="{{module.icon}}">
                </div>
                {{module.name}}
            </a>


            <div class="sidenav-menu-heading">Sistema</div>
            <!-- Sidenav Accordion (Layout)-->
            <a aria-controls="collapseLayouts" aria-expanded="false" class="nav-link collapsed"
               data-bs-target="#collapseLayouts" data-bs-toggle="collapse" href="javascript:void(0);">
                <div class="nav-link-icon">
                    <img src="assets/icons/general/system.svg">
                </div>
                Configuración
                <div class="sidenav-collapse-arrow">
                    <fa-icon [icon]="angleDown" class="fw-bold" size="sm"></fa-icon>
                </div>
            </a>
            <div class="collapse" data-bs-parent="#accordionSidenav" id="collapseLayouts">
                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavLayout">
                    <!-- Nested Sidenav Accordion (Layout -> Navigation)-->
                    <a aria-controls="collapseLayoutSidenavVariations" aria-expanded="false" class="nav-link collapsed"
                       data-bs-target="#collapseLayoutSidenavVariations" data-bs-toggle="collapse"
                       href="javascript:void(0);">
                        Usuarios
                        <div class="sidenav-collapse-arrow">
                            <fa-icon [icon]="angleDown" size="sm"></fa-icon>
                        </div>
                    </a>

                    <div class="collapse" data-bs-parent="#accordionSidenavLayout" id="collapseLayoutSidenavVariations">
                        <nav class="sidenav-menu-nested nav">
                            <a class="nav-link" href="layout-static.html">Accesos</a>
                            <a class="nav-link" href="layout-dark.html">Grupos | Roles</a>
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</nav>
